.login-page__content {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 340px;
  min-height: 450px;
  padding: 50px 30px 30px;
  border-radius: 12px;
  box-shadow: var(--main-shadow);
}

.login-page__title {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.login-page__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.login-page__password {
  margin-bottom: auto;
}

.login-page__signup {
  display: block;
  text-align: center;
}
