.change-user-password-page {
  display: grid;
  grid-template-columns: 64px 1fr;
  max-width: 1280px;
  min-height: 720px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
}

.change-user-password-page__inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fbfbfb;
  border-right: 1px solid #eaeaea;
}

.change-user-password-page__back {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #3369F3;
}

.change-user-password-page__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 720px;
}

.change-user-password__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 510px;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  font-size: 13px;
  font-weight: 500;
}

.change-user-password__field:last-of-type {
  margin-bottom: 50px;
  border-bottom: none;
}

.change-user-password__save {
  display: block;
  width: 280px;
  padding: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #3369f3;
  border-radius: 8px;
  text-decoration: none;
}
