:root {
  /*Colors*/
  --white: #ffffff;
  --gallery: #eaeaea;
  --mercury: #e5e5e5;
  --alabaster: #fbfbfb;
  --royal-blue: #3369F3;
  --dusty-gray: #999999;
  --hawkeys-blue: #e4edfd;
  --red: #ff0000;
  --black: #1e1e1e;
  --transparent-black: rgb(0, 0, 0, .4);

  /*Shadows*/
  --main-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
}
