@import url("/src/styles/global.css");
@import url("/src/pages/login/login.css");
@import url("/src/pages/sign-up/sign-up.css");
@import url("/src/pages/main/main.css");
@import url("/src/pages/profile/profile.css");
@import url("/src/pages/change-user-data/change-user-data.css");
@import url("/src/pages/change-user-password/change-user-password.css");
@import url("/src/pages/error/error.css");

main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

p {
  margin: 0;
}
